// ------------------------- Variables --------------------------- //

// colores principales
$color-principal: #ff009d;
$color-principal-variante: #ff00ea;

// fondo //
$color-fondo: #7600fd62;

// Textos //
$color-titulo: #e22b96;
$color-texto: rgba(153, 5, 141, 0.452);

// Sombreados //
$color-sombra: rgba(255, 4, 234, 0.452);

// Botones //
$boton-pri : #ff0095;
$boton-secun : #00eeff;

// Anchuras //
$lg : 75%;
$md : 86%;
$ms : 90%;

// fuentes //
$font : 'Roboto' , 'Sans serif';
$font-segundary : "Poppins" , sans-serif;

// transicciones de animaciones //
$transiciones: all 400ms ease ;